In [74]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from time import sleep
import pandas as pd
import os
import warnings

In [75]:
#Navegador chrome
nav = webdriver.Chrome()

In [76]:
warnings.filterwarnings('ignore')

In [77]:
mouse = webdriver.ActionChains(nav)

In [78]:
#Entrando no site da swift
nav.get('https://www.swift.com.br/?utm_source=rakuten&utm_medium=afiliados&utm_term=3803082&ranMID=46591&ranEAID=B*sIAgSVIF0&ranSiteID=B.sIAgSVIF0-hN.7e8M1GnvJbNh6ledOEw')

In [79]:
#Aguardando 3 segundos
sleep(3)

## Picanha Gold swift

In [80]:
#Variáveis com os caminhos de cada div
botao_busca = 'btn-open-search'
pesquisar = '//*[@id="pesquisar"]'

In [81]:
#clicando no botao de busca
nav.find_element_by_class_name(botao_busca).click()

In [82]:
#Pesquisando por PICANHA NOBRE
nav.find_element_by_xpath(pesquisar).send_keys('PICANHA NOBRE')

In [83]:
#Aguardando 2 segundos
sleep(2)

In [84]:
#Variável contendo o preço da picanha
preco_picanha = nav.find_element_by_css_selector('span.price').text

In [85]:
#Arrumando o número float
preco_picanha = preco_picanha.replace(',','.')

In [86]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## CONTRA FILÉ CHORIZO

In [87]:
#Pesquisando por BIFE DE CONTRA FILÉ SWIFT 900G
nav.find_element_by_xpath(pesquisar).send_keys('BIFE DE CONTRA FILÉ SWIFT 900G')

In [88]:
#Aguardando 2 segundos
sleep(2)

In [89]:
#Variável contendo o preço do CHORIZO
preco_chorizo = nav.find_element_by_css_selector('span.price').text

In [90]:
#Arrumando o número float
preco_chorizo = preco_chorizo.replace(',','.')

In [91]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## CONTRA FILÉ ANCHO

In [92]:
#Pesquisando por ANCHO
nav.find_element_by_xpath(pesquisar).send_keys('ANCHO')

In [93]:
#Aguardando 2 segundos
sleep(2)

In [94]:
#Variável contendo o preço do ANCHO
preco_ancho = nav.find_element_by_css_selector('span.price').text

In [95]:
#Arrumando o número float
preco_ancho = preco_ancho.replace(',','.')

In [96]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## ALCATRA

In [97]:
#Pesquisando por ALCATRA
nav.find_element_by_xpath(pesquisar).send_keys('ALCATRA')

In [98]:
#Aguardando 2 segundos
sleep(2)

In [99]:
#Variável contendo o preço da ALCATRA
preco_alcatra = nav.find_element_by_css_selector('span.price').text

In [100]:
#Arrumando o número float
preco_alcatra = preco_alcatra.replace(',','.')

In [101]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## FRALDINHA

In [102]:
#Pesquisando por FRALDA
nav.find_element_by_xpath(pesquisar).send_keys('FRALDA')

In [103]:
#Aguardando 2 segundos
sleep(2)

In [104]:
#Variável contendo o preço da FRALDINHA
preco_fraldinha = nav.find_element_by_css_selector('span.price').text

In [105]:
#Arrumando o número float
preco_fraldinha = preco_fraldinha.replace(',','.')

In [106]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## PÃO DE ALHO

In [107]:
#Pesquisando por PÃO DE ALHO BAGUETE TRADICIONAL
nav.find_element_by_xpath(pesquisar).send_keys('PÃO DE ALHO BAGUETE TRADICIONAL')

In [108]:
#Aguardando 2 segundos
sleep(2)

In [109]:
#Variável contendo o preço do PÃO DE ALHO
preco_palho = nav.find_element_by_css_selector('span.price').text

In [110]:
#Arrumando o número float
preco_palho = preco_palho.replace(',','.')

In [111]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## TULIPINHA

In [112]:
#Pesquisando por MEIO DA ASA
nav.find_element_by_xpath(pesquisar).send_keys('MEIO DA ASA')

In [113]:
#Aguardando 2 segundos
sleep(2)

In [114]:
#Variável contendo o preço da TULIPINHA
preco_tulipa = nav.find_element_by_css_selector('span.price').text

In [115]:
#tulipa não temperada
preco_tulipa = float(preco_tulipa.replace(',','.')[3:]) - 1

In [116]:
#Voltando para string
preco_tulipa = str(f'R$ {preco_tulipa}')

In [117]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## FILÉ DE COXA E SOBRECOXA

In [118]:
#Pesquisando por SOBRECOXA
nav.find_element_by_xpath(pesquisar).send_keys('SOBRECOXA')

In [119]:
#Aguardando 2 segundos
sleep(2)

In [120]:
#Variável contendo o preço da SOBRECOXA
preco_sobrecoxa = nav.find_element_by_css_selector('span.price').text

In [121]:
#SOBRECOXA COM PELE
preco_sobrecoxa = float(preco_sobrecoxa.replace(',','.')[3:]) - 0.99

In [122]:
#Valor correto
preco_sobrecoxa = preco_sobrecoxa - 00.000000000000002

In [123]:
#Voltando para string
preco_sobrecoxa = str(f'R$ {preco_sobrecoxa}')

In [124]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

## LINGUIÇA

In [125]:
#Pesquisando por LINGUIÇA
nav.find_element_by_xpath(pesquisar).send_keys('LINGUIÇA')

In [126]:
#Aguardando 2 segundos
sleep(2)

In [127]:
#Variável contendo o preço da LINGUIÇA
preco_linguica = nav.find_element_by_css_selector('span.price').text

In [128]:
#Arrumando o número float
preco_linguica = preco_linguica.replace(',','.')

In [129]:
#Limpando pesquisa
nav.find_element_by_class_name('btn-clear').click()

In [130]:
#Fechando Navegador
nav.quit()

# TRANSFORMANDO EM TABELA

In [131]:
#Criando df
df = pd.DataFrame([preco_picanha, preco_chorizo, preco_ancho, preco_alcatra, preco_fraldinha, preco_palho, preco_tulipa, preco_sobrecoxa, preco_linguica],index=['Picanha gold','Chorizo','Ancho','Alcatra','Fraldinha','Pão de alho','Tulipinha','Sobrecoxa','Linguiça'], columns="PREÇO".split())

In [132]:
#Visualizando df
df

                              PREÇO
Picanha gold               R$ 94.96
Chorizo                    R$ 46.96
Ancho                      R$ 54.96
Alcatra                    R$ 46.96
Fraldinha                  R$ 34.96
Pão de alho                R$ 10.96
Tulipinha                  R$ 20.96
Sobrecoxa     R$ 11.969999999999999
Linguiça                   R$ 16.96

In [133]:
#deletando arquivo 
try:
    os.remove('churrasco.xlsx')
    print('Arquivo deletado com sucesso!!!')
except FileNotFoundError:
    print('Arquivo não existe')

Arquivo não existe

In [134]:
df['PESO Kg'] = [1, 1, 1, 1, 1, 0.4, 1, 1, 1]

In [135]:
df

                              PREÇO  PESO Kg
Picanha gold               R$ 94.96      1.0
Chorizo                    R$ 46.96      1.0
Ancho                      R$ 54.96      1.0
Alcatra                    R$ 46.96      1.0
Fraldinha                  R$ 34.96      1.0
Pão de alho                R$ 10.96      0.4
Tulipinha                  R$ 20.96      1.0
Sobrecoxa     R$ 11.969999999999999      1.0
Linguiça                   R$ 16.96      1.0

In [136]:
carnes_escolhidas = []
qtd_carnes_escolhidas = []
op = []

for carne in df.index:
    resp = str(input(f'\033[1;35mVai de {carne}? [S][N]\033[1;35m ').upper())
    while resp not in 'SN':
        resp = str(input('\033[1;31mERRO! Digite uma opção válida [S][N]:\033[m ').upper())
    op.append(resp)
    if resp == 'S':
        qtd = float(input('\033[1;33mQTD em Kg:\033[1;33m '))
        carnes_escolhidas.append(carne)
        qtd_carnes_escolhidas.append(qtd)
    if resp in 'SN':
        continue

Vai de Picanha gold? [S][N] s
QTD em Kg: 4
Vai de Chorizo? [S][N] n
Vai de Ancho? [S][N] n
Vai de Alcatra? [S][N] n
Vai de Fraldinha? [S][N] n
Vai de Pão de alho? [S][N] 1.2
ERRO! Digite uma opção válida [S][N]: s
QTD em Kg: 1.2
Vai de Tulipinha? [S][N] s
QTD em Kg: 2
Vai de Sobrecoxa? [S][N] n
Vai de Linguiça? [S][N] n

In [137]:
df['QUERO'] = op

In [138]:
df_final = df[df['QUERO'] == 'S']

In [139]:
df_final['QTD Desejada'] = qtd_carnes_escolhidas

In [140]:
lista_preco = []
for v in df_final['PREÇO']:
    v = float(v[3:])
    lista_preco.append(v)

In [141]:
df_final['PREÇO'] = lista_preco

In [142]:
df_final.drop(['PESO Kg', 'QUERO'], axis=1, inplace=True)

In [143]:
df_final['VALOR TOTAL'] =  df_final['PREÇO'] * df_final['QTD Desejada']

In [144]:
qtd_pessoas = int(input('\033[1;34mChurrasco para quantas pessoas? \033[1;34m'))

Churrasco para quantas pessoas? 10

In [145]:
total = sum(df_final['VALOR TOTAL'])
valor_por_pessoa = total / qtd_pessoas

In [146]:
print(f'O churrasco ficou orçado em {total:.2f}')
print('Para um total de {:.2f}Kg '.format(df_final['QTD Desejada'].sum()))
print(f'Um total de {valor_por_pessoa:.2f} por pessoa')

O churrasco ficou orçado em 434.91
Para um total de 7.20Kg
Um total de 43.49 por pessoa